<hr class="divider">
<h1 style="color:#f2f2f2">Editar Tipo de Producto</h1>

<%= render 'form', product_type: @product_type %>

<%= link_to 'Mostrar', @product_type %> |
<%= link_to 'Atrás', product_types_path %>
