<hr class="divider">
<h1 style="color:#f2f2f2">Editar Empleado</h1>

<%= render 'form', employee: @employee %>

<%= link_to 'Mostrar', employee_path(@employee) %> |
<%= link_to 'Atrás', employees_path %>
