
    <div class="container">

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img class="card-img img-fluid w-100" src="../public/img/cumple.jpg" alt="">
          <%= image_tag "cumple.jpg", class: "card-img img-fluid w-100"%>
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Celebra tu cumpleaños</h2>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Ven y celebra tu cumpleaños con nosotros.
            Pregunta por tu paquete de cumpleaños</p>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <%= image_tag "slide-2.jpg", class: "card-img img-fluid w-100"%>
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Despedida de solteros</h2>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Ven y disfruta de una fiesta llena de sospresas para ti en tu última noche de libertad. </p>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <%= image_tag "slide-3.jpg", class: "card-img img-fluid w-100"%>
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Eventos Empresariales</h2>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Comparte con nosotros el haber realizado tus negocios, atendemos cada una de tus necesidades.</p>
          </div>
        </div>
      </div>
