<%if user_signed_in?%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Bench:</strong>
  <%= @order.bench %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<% end %>
