<%if user_signed_in?%>
<hr class="divider">

<h1 style="color:#f2f2f2">Editar Producto</h1>

<%= render 'form', product: @product %>

<%= link_to 'Mostrar', @product %>
<%= link_to 'Atrás', products_path %>
<% end %>
